{% extends "base.html" %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css">
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/order_page.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_fBdY87ORS_Hq8FQaYSpRahwlvGP3NZE&callback=initMap" async defer></script>
{% endblock %}
{% block content %}
    <form method="post">
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <div id="map"></div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}