{% extends "base.html" %}
{% block links %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
  <div class="profile-block user-data">
    <h1>User data</h1>
    {% if data %}
      {% for user_field, user_data in data.user.items %}
        <p>{{ user_field }}: {{ user_data }}</p>
      {% endfor %}
      {% if data.driver_phone %}
        <p>driver phone: {{ data.driver_phone }}</p>
      {% endif %}
      {% if data.customer_phone %}
        <p>customer phone: {{ data.customer_phone }}</p>
      {% endif %}
    {% endif %}
  </div>

  {% if data.driver_phone %}
    <div class="profile-block car-data">
    <h1>Car data</h1>
    {% for car_field, car_data in data.car.items %}
      <p>{{ car_field }}: {{ car_data }}</p>
    {% endfor %}
    </div>
  {% endif %}

  <div class="profile-block orders">
    <h1>Orders</h1>
    {% if data.driver_phone %}
      <h2><a href="/driver_orders/">Get order</a></h2>
    {% else %}
      <h2><a href="/order/">Create order</a></h2>
    {% endif %}

  {% for order in data.orders %}
    <div class="order">
      <p class="order-id">Order id: {{ order.id }}</p>
      <p class="order-date">Date: {{ order.order_date }}</p>

      {% for car in data.car_choices %}
        {% if order.rate in car %}
          <p class="order-rate">Rate: {{ car.1 }}</p>
        {% endif %}
      {% endfor %}

        <p class="order-status">Status: {{ order.status }}</p>
        <p class="order-cost">Cost: {{ order.cost }}</p>
        <p class="order-rating">Rating: {{ order.rating }}</p>

        {% if data.customer_phone %}
        <form method="post">
          {% csrf_token %}
          {% if order.status == 'active' %}
            <div class="form-field">
              <select id="answer" name="answer" class="answer">
                <option></option>
                <option>Cancel order</option>
              </select>
            </div>
            <input type="hidden" name="order_id" value="{{ order.id }}">
            <button type="submit">Update</button>
          {% endif %}
          {% if order.status == 'evaluation' %}
            <div class="form-field">
              {{ data.rate_form }}
            </div>
            <input type="hidden" name="order_id" value="{{ order.id }}">
            <button type="submit">Update</button>
          {% endif %}
        </form>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endblock %}
