.auth-form {
  max-width: 500px;
  margin: 100px auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}


.auth-form h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input[type="number"]:focus{
  outline: none;
  border-color: #0080ff;
}
.form-group input[type="number"]{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


.form-group input[type="email"]:focus{
  outline: none;
  border-color: #0080ff;
}
.form-group input[type="email"]{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
  outline: none;
  border-color: #0080ff;
}

.btn {
  display: inline-block;
  background-color: #00bfff;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0080ff;
}

p {
  font-size: 16px;
  margin-top: 20px;
}

.error-msg {
  color: #ff0000;
  margin-bottom: 20px;
}
