<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Taxi site</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block links %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/#about">About</a></li>
                    <li><a href="/#services">Services</a></li>
                    <li><a href="#">Contacts</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>